@import url('https://fonts.googleapis.com/css?family=Domine|Montserrat:400,700');
html,body {
    height:100%
}
body {
    font-family:'Domine',sans-serif;
    font-size:1.5em;
    line-height:1.5em;
    background:url('../img/bg-pattern.png') repeat;
    color:#fff;
    font-weight:400
}
a {
    color:#cacfd6;
    text-decoration:none
}
a:focus {
    outline:0 solid;
    text-decoration:none
}
a:hover {
    text-decoration:none
}

.espacamento_secao {
    padding:70px 0px
}

.saiba-mais {
    display:inline-block;
    vertical-align:middle;
    -webkit-transform:perspective(1px) translateZ(0);
    transform:perspective(1px) translateZ(0);
    box-shadow:0 0 1px transparent;
    position:relative;
    -webkit-transition-property:color;
    transition-property:color;
    -webkit-transition-duration:0.5s;
    transition-duration:0.5s
}
.saiba-mais:before {
    content:"";
    position:absolute;
    z-index:-1;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#d6e5e3;
    -webkit-transform:scaleX(0);
    transform:scaleX(0);
    -webkit-transform-origin:0 50%;
    transform-origin:0 50%;
    -webkit-transition-property:transform;
    transition-property:transform;
    -webkit-transition-duration:0.5s;
    transition-duration:0.5s;
    -webkit-transition-timing-function:ease-out;
    transition-timing-function:ease-out
}
.saiba-mais:hover,.saiba-mais:focus,.saiba-mais:active {
    color:#4C4846
}
.saiba-mais:hover:before,.saiba-mais:focus:before,.saiba-mais:active:before {
    -webkit-transform:scaleX(1);
    transform:scaleX(1);
    -webkit-transition-timing-function:cubic-bezier(0.52,1.64,0.37,0.66);
    transition-timing-function:cubic-bezier(0.52,1.64,0.37,0.66)
}
.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #4C4846;
    z-index: 999;
}

.fl-arvore-pai{
    margin: 25% auto;
    width: 80px;
    text-align: center;
}

.fl-arvore-pai .fl-filho {
    width: 20px;
    height: 20px;
    background-color: #9FD8CB;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: fl-arvore-pai 1.4s ease-in-out 0s infinite both;
    animation: fl-arvore-pai 1.4s ease-in-out 0s infinite both;
}

.fl-arvore-pai .fl-filho1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.fl-arvore-pai .fl-filho2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.home{
    height:100%;
}

.logo, .logo:hover {
    color: #9FD8CB !important;
}

.logo, .logo:hover {
    font-size: 22px;
    text-shadow: 1px 1px 2px #9FD8CB;
    font-family: 'Montserrat',sans-serif;
}

.menu_principal {
    background: rgba(76, 72, 70, .3);
    border-color: transparent;
    border-radius: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 10;
}

.menu_principal .navbar-nav > li > a {
    text-transform: uppercase;
    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    color: #9FD8CB;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background:transparent !important;
    color:#9FD8CB !important
}

.menu_principal .navbar-nav>li>a:hover, .menu_principal .navbar-nav>li>a:focus {
    color:#9FD8CB !important
}

.isActive {
    position:fixed;
    background-color:#464240;
    box-shadow:0px 1px 3px #464240;
    z-index:500
}

.menu_principal .navbar-toggle {
    border-color: #9FD8CB;
}

.menu_principal .navbar-toggle .icon-bar {
    background: #9FD8CB;
}

.menu_principal .navbar-toggle:focus, .menu_principal .navbar-toggle:hover {
    background:transparent
}

.navbar-default .navbar-collapse {
    border-color: #464240;
}

.bem_vindo {
    height:100%;
    background:url('../img/DSC_0364.JPG');
    background-position:center center;
    background-size:cover;
    background-attachment:fixed;
    background-repeat:no-repeat;
    position:relative;
    top:0px
}

.bem_vindo:before {
    position:absolute;
    width:100%;
    height:100%;
    left:0px;
    bottom:0px;
    background:url('../img/bn-pattern.png');
    opacity:0.7;
    content:''
}

.bem_vindo_tabela {
    display:table;
    height:100%;
    width:100%;
    z-index:22
}

.bem_vindo_tabela_cell {
    display:table-cell;
    vertical-align:middle
}

.bem_vindo_content h2 {
    color:#9fd8cb;
    font-size:36px
}

.bem_vindo_content a {
    border:1px solid #d6e5e3;
    padding:10px 15px;
    color:#d6e5e3;
    margin-top:10px
}

.sobre_conteudo h2 {
    color:#9fd8cb
}

.sobre_btn {
    border:1px solid #ddd;
    padding:10px 15px;
    margin-top:20px;
    margin-bottom:20px;
    display:inline-block;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    overflow:hidden
}

.sobre_conteudo .nav-tabs {
    border-color:transparent
}
.sobre_conteudo .nav-tabs>li>a {
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out
}
.sobre_conteudo .nav-tabs>li>a:hover {
    color:#4c4846;
    border-radius:0px
}
.sobre_conteudo .nav-tabs>li.active>a, .sobre_conteudo .nav-tabs>li.active>a:focus, .sobre_conteudo .nav-tabs>li.active>a:hover {
    background:#cacfd6;
    border-color:transparent !important;
    border:1px solid transparent !important;
    border-radius:0px
}
.sobre_conteudo .tab-content>.tab-pane {
    border:1px solid #ddd;
    padding:10px 15px
}

.sobre_social a {
    display:inline-block;
    width:30px;
    height:30px;
    line-height:2em;
    padding-left: .6em;
    border:1px solid;
    margin-top:2em;
    margin-right: .5em;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}
.sobre_social a:hover, .sobre_social a:focus {
    background:#D6E5E3;
    border-color:#D6E5E3;
    outline:1px solid #D6E5E3;
    outline-offset:3px
}
.sobre_social a:hover i, .sobre_social a:focus i {
    color:#4c4846
}

.sobre_imagem {
    margin:auto
}

.sobre_imagem img {
    width:80%;
    -webkit-transition:filter 1s linear;
    -moz-transition:filter 1s linear;
    -o-transition:filter 1s linear;
    transition:filter 1s linear;

}

.sobre_imagem img:hover {
    -ms-filter:grayscale(1);
    -webkit-filter:grayscale(1);
    -moz-filter:grayscale(1);
    -o-filter:grayscale(1);
}


